# Environment
*env*/
.venv/
docs/.venv/

# Sphinx
docs/_dev/warnings.txt
docs/_dev/.wordlist.dic
docs/_dev/.doctrees/
docs/_dev/update/
docs/_dev/node_modules/

# Vale
docs/_dev/styles/*
docs/_dev/vale.ini

# Build outputs
docs/_build
_build

# Node.js
package*.json

# Unrelated cache and config files
.DS_Store
__pycache__
.idea/
.vscode/
